.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: var(--e9ecef-Bg-2, #E9ECEF);
}

.main {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.formgroup {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 12px 0px;
  gap: 8px;
  width: 50%;
}

.fileHeading {
  color: #3A57E8;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fileSubheading {
  color: #8A92A6;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  cursor: pointer;
}

.fileInput {
  display: none;
}

.checkpoint {
  padding: 12px 0px;
}

.checkpoint :global .MuiFormControlLabel-root{
  width: 50%;
}

.checkpoint :global .MuiFormControl-root{
  width: 25%;
}

.success {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.success h5 {
  color: var(--232D42-Text-Color-1, #232D42);
  font-weight: 500;
}

.success :global .MuiButtonBase-root {
  text-transform: none;
}

.blue {
  color: #3A57E8;
}
