.container {
  width: 100%;
  display: flex;
} 

h1 {
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 16px;
  text-align: center;
}

p {
  color: var(--8A92A6-Text-Color-2, #8A92A6);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
  margin-top: 0;
}

.left {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  height: 100vh;
  background-image: url('../assets/bg1.svg');
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  font-size: 16px;
  gap: 16px;
}

.submit {
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.container :global .MuiFormLabel-root {
  padding-bottom: 8px;
}

.container :global .MuiButtonBase-root {
  text-transform: none;
}

.container :global .MuiInputBase-input {
  height: 24px;
  padding: 8px 16px;  
}

.container :global .MuiFormControl-root {
  padding-bottom: 16px;
}

.submit :global .MuiButton-root {
  padding: 8px 24px;
  border-radius: 4px;
}
