.container {
  height: 120px;
  border-radius: 0px 0px 16px 16px;
  background: radial-gradient(36.28% 150.93% at 50% 50%, #3B8AFF 0%, #0048B2 100%);
  display: flex;
  flex-direction: column;
  padding-left: 39px;
  padding-top: 53px;
}

.heading {
  color: var(--FFFFFF-Bg-1, #FFF);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subheading {
  color: #EFEFEF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; 
}
